<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- rmi begin -->
   <!--<bean id="myRMIService" class="org.springframework.remoting.rmi.RmiServiceExporter">
       <property name="service" ref="helloRMIService"/>
       <property name="serviceName" value="helloRMI"/>
       <property name="serviceInterface" value="com.cjluo.chapter12.service.IHelloRMIService"/>
       <property name="registryPort" value="9999"/>
   </bean>

    <bean id="helloRMIService" class="com.cjluo.chapter12.service.HelloRMIService"/>-->
    <!-- rmi end -->

    <bean name="httpInvokerService" class="com.cjluo.chapter12.service.HttpInvokerService"/>
</beans>